<div class="about-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Giới Thiệu</h1>
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-image">
          <img src="assets/images/about-us.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-content">
          <h4>Giới Thiệu </h4>
          <p><a href="#">website chính thức của công ty</a>
            Được thành lập từ năm 1999, ADT được xem là một trong những công ty
            tiên phong trên thị trường quảng cáo truyền thông Việt Nam và đã trở
            thành công ty hàng đầu trong ngành truyền thông và quảng cáo đa
            phương tiện. Công ty sở hữu nhiều thương hiệu truyền thông lớn như
            Adt media, Active brand media, E-channel, Hay TV, Dot Mark, Win
            media và chủ yếu cung cấp dịch vụ truyền thông trọn gói, Digital
            marketing, sản xuất TV.t.</p>
          <br />
          <p>Ngoài ra, Công ty còn là đối tác khai thác độc quyền thương mại của
            các Đài truyền hình Việt Nam lớn như VTV, HTV - hai kênh truyền hình
            nổi tiếng nhất Việt Nam - trong nhiều sự kiện thể thao lớn, từ cấp
            độ toàn cầu như World Cup, Euro Cup đến khu vực như Seagames. và AFF
            Cup.</p>
          <br />
          <div class="share">
            <h6>Find us on:
              <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                    class="fa fa-linkedin"
                  ></i></a><a href="#"><i
                    class="fa fa-twitter"
                  ></i></a></span></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="subscribe-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Tư Vấn Khách Hàng</h1>
        </div>
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="main-content">
          <p>Vui lòng điền thông tin liên hệ để được tư vấn và hỗ trợ về Laptop.</p>
          <div class="container">
            <form id="subscribe" action="" method="get">
              <div class="row">
                <div class="col-md-7">
                  <fieldset>
                    <input
                      name="email"
                      type="text"
                      class="form-control"
                      id="email"
                      onfocus="if(this.value == 'Your Email...') { this.value = ''; }"
                      onBlur="if(this.value == '') { this.value = 'Your Email...';}"
                      value="Your Email..."
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-md-5">
                  <fieldset>
                    <button
                      type="submit"
                      id="form-submit"
                      class="button"
                    >Enter</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>