<div class="contact-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Địa chỉ liên hệ</h1>
        </div>
      </div>

      <!--GoogleMap-->
      <div class="col-md-6">
        <div id="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7515793580296!2d105.80008861526622!3d21.002592894046195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad2747340709%3A0xcc934bb4e7ec3d6a!2sBeta%20Cineplex%20Thanh%20Xu%C3%A2n!5e0!3m2!1svi!2s!4v1636043219936!5m2!1svi!2s"
            width="600"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-content">
          <div class="container">
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-md-6">
                  <fieldset>
                    <input
                      name="name"
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Your name..."
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input
                      name="email"
                      type="text"
                      class="form-control"
                      id="email"
                      placeholder="Your email..."
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input
                      name="subject"
                      type="text"
                      class="form-control"
                      id="subject"
                      placeholder="Subject..."
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <textarea
                      name="message"
                      rows="6"
                      class="form-control"
                      id="message"
                      placeholder="Your message..."
                      required=""
                    ></textarea>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">Send
                      Message</button>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <div class="share">
                    <h6>You can also keep in touch on:
                      <span><a href="#"><i class="fa fa-facebook"></i></a><a
                          href="#"
                        ><i class="fa fa-linkedin"></i></a><a href="#"><i
                            class="fa fa-twitter"
                          ></i></a></span></h6>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="subscribe-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Tư Vấn Khách Hàng</h1>
        </div>
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="main-content">
          <p>Vui lòng điền thông tin liên hệ để được tư vấn và hỗ trợ về Laptop.</p>
          <div class="container">
            <form id="subscribe" action="" method="get">
              <div class="row">
                <div class="col-md-7">
                  <fieldset>
                    <input
                      name="email"
                      type="text"
                      class="form-control"
                      id="email"
                      onfocus="if(this.value == 'Your Email...') { this.value = ''; }"
                      onBlur="if(this.value == '') { this.value = 'Your Email...';}"
                      value="Your Email..."
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-md-5">
                  <fieldset>
                    <button
                      type="submit"
                      id="form-submit"
                      class="button"
                    >Enter</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>