<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="caption">
          <h2>Tầm nhìn của chúng tôi</h2>
          <div class="line-dec"></div>
          <p>
            Với sự tiên phong tiên phong, ADT phấn đấu trở thành công ty hàng
            đầu tại Việt Nam và Đông Nam Assia trong việc áp dụng Nội dung trực
            quan và Công nghệ mới cho Phương tiện tương tác.
            <br /><br />Sứ mệnh Chúng tôi áp dụng công nghệ mới nhất trên thế
            giới để tạo ra một giải pháp tối ưu và độc đáo cho doanh nghiệp và
            mang lại trải nghiệm đặc biệt cho khách hàng của chúng tôi..
          </p>
          <div class="main-button">
            <a href="#">Liên hệ với chúng tôi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="featured-items">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Sản Phẩm nổi bật</h1>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-carousel owl-theme">
          {{#each data}}
            <a href="/products/{{this.slug}}">
              <div class="featured-item">
                <img src="{{this.productImage}}" alt="Item 1" />
                <h4>{{this.productName}}</h4>
                <h6>{{this.productPrice}}₫</h6>
              </div>
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="subscribe-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Tư Vấn Khách Hàng</h1>
        </div>
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="main-content">
          <p>
            Vui lòng điền thông tin liên hệ để được tư vấn và hỗ trợ về Laptop.
          </p>
          <div class="container">
            <form id="subscribe" action="" method="get">
              <div class="row">
                <div class="col-md-7">
                  <fieldset>
                    <input
                      name="email"
                      type="text"
                      class="form-control"
                      id="email"
                      onfocus="if(this.value == 'Your Email...') { this.value = ''; }"
                      onBlur="if(this.value == '') { this.value = 'Your Email...';}"
                      value="Your Email..."
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-md-5">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">
                      Enter
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>